build
.DS_Store
*/**/.DS_Store

.idea

node_modules
dist
dist-lite
npm-debug.log
ansible/venv
config/nodes.js
*~
*.swp
*.pem
.node-xmlhttprequest-*
ws_secret.json
stats.json

app.json
*/**/.DS_Store
npm-debug.log
config.js